[Unit]
Description=Kibana-{{ kibana_instance_name }}
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

WorkingDirectory={{ kibana_home }}

User={{ kibana_user }}
Group={{ kibana_group }}

ExecStart={{ kibana_home }}/bin/kibana "-c {{ conf_dir }}/kibana.yml"
Restart=always

[Install]
WantedBy=multi-user.target
