################################
# Kibana
################################

# Kibana home directory
KIBANA_HOME={{ kibana_home }}

# Kibana Java path
#JAVA_HOME=

# Kibana configuration directory
CONF_DIR={{ conf_dir }}

# Kibana data directory
DATA_DIR={{ data_dir }}

# Kibana PID directory
PID_DIR={{ pid_dir }}

################################
# Kibana service
################################

# SysV init.d
#
# When executing the init script, this user will be used to run the kibana service.
# The default value is 'kibana' and is declared in the init.d file.
# Note that this setting is only used by the init script. If changed, make sure that
# the configured user can read and write into the data, work, plugins and log directories.
# For systemd service, the user is usually configured in file /usr/lib/systemd/system/kibana.service
KIBANA_USER={{ kibana_user }}
KIBANA_GROUP={{ kibana_group }}

# The number of seconds to wait before checking if Kibana started successfully as a daemon process
KIBANA_STARTUP_SLEEP_TIME=5
