
{% if kibana_config %}
{{ kibana_config | to_nice_yaml }}
{% endif %}

{% if kibana_config['server.name'] is not defined %}
server.name: {{inventory_hostname}}-{{kibana_instance_name}}
{% endif %}

#################################### Paths #####################################

path.data: {{ data_dir }}

{% if kibana_log_to_file %}
logging.dest: {{ log_dir }}/kibana.log
{% endif %}
